 * {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 150px;
    font-size: 52px;
    text-align: center;
}

input {
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 10px;
    width: 50%;
    height: 35px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 35px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}