.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.edit-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, 100px);
    grid-gap: 5%;
    width: 70%;
}

input:not(.search-field), select, textarea {
    border: 1px solid black;
    padding-left: 5px;
    width: 100%;
    margin: auto;
}

input , select {
    height: 35px;
}

textarea {
    padding-bottom: 20px; 
    resize: none;
}

.colors {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.colors input {
    margin-left: 15px;
    background-color: transparent;
    border: none;
}

.color-change {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.submit {
    position: absolute;
    height: 35px;
    width: 220px;
    background-color: black;
    color: white;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    top: 550px;
}

.submit:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}