* {
    font-family: sans-serif;
}

.all {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 52px;
    margin-top: 100px;
}

h3 {
    font-size: 36px;
}

p {
    margin-top: 50px;
    font-size: 16px;
}


input {
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 10px;
    width: 60%;
    height: 35px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.send {
    background-color: black;
    height: 35px;
    width: 120px;
    color: white;
    cursor: pointer;
}

.send:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
