* {
    font-family: sans-serif;
}

.succes {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.succes-body {
    border-radius: 15px;
    box-shadow: 2px 5px 6px 5px #e6ebf1; 
    text-align: center;
    width: 45%;
}

.succes-img {
    margin-top: 15px;
    margin-bottom: 25px;
    height: 200px;
    transition: 0.5s;
}

.succes-img:hover {
    transform: scale(1.2);
}

h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

p {
    color: rgb(75, 75, 75);
    font-size: 20px;
    margin-bottom: 35px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.home, .add {
    width: 120px;
    height: 35px;
    background-color: black;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.home:hover, .add:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}