 body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h2 {
    font-size: 45px;
}

@media (max-width: 992px) {
    body {
        width: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
    }

}