body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 200px;
    font-size: 52px;
}

p {
    display: flex;
    justify-content: center;
}

.redirect {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button {
    height: 35px;
    width: 200px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

@media (max-width: 992px) {
    .log-in {
        width: 80%;
    }

    body {
        text-align: center;
        align-items: center;
    }

    h2 {
        font-size: 40px;
        margin: 0;
        margin-bottom: 25px;
    }
}