{% block content %} {%load static%}
<head>
    <link rel="stylesheet" href=" {% static '/css/password_reset_sent.css' %} " />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="sent">
        <h2>Password Reset Sent</h2>
        <p>We have  emailed you instructions for setting your new password, If an account with this mail you entered exists, you should receive them shortly</p>
        <p>If you didnt get a mail from us, check if the adress you entered is right  or check your spam folder</p>
    </div>
</body>
{% endblock  %}