{% block content %} {% load static %}
<head>
    <link rel="stylesheet" href=" {% static '/css/reset_password.css' %} " />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="all">
    <div class="content">
        <h2>Forgotten your Password?</h2>
        <h3>Bless you, we have solution for you:</h3>
        <hr>
        <p>Input your email and we will send you instructions there.</p>
        <form method="post">
            {% csrf_token %}
        {{form}}
        <button type="submit" name="send" class="send">Send</button>
        </form> 
        {% endblock %}
    </div>
</div>