{% extends 'main/navbar.html' %} {% load static %} {% block content %}

<h2>Accesories:</h2>
<form method="get" action="">
  <select name="order_by" id="order_by" onchange="this.form.submit()">
    <option
      class="hidden_option"
      name="{{choice}}"
      value="{{choice}}"
      style="display: none"
    >
      {{choice}}
    </option>
    <option value="-id" name="-id">Latest products</option>
    <option value="id" name="id">Oldest products</option>
    <option value="price" name="price">Lowest Price</option>
    <option value="-price" name="price">Highest Price</option>
  </select>
</form>
<div class="container">
  <ul class="products">
    {% for product in accesories %}
    <li class="product">
      <a href="/{{product.id}}/">
        <img class="image" src="{{product.image.url}}" alt="image" />
        <p>Name: {{product.name}}</p>
        <!-- <p>Description: {{product.description}}</p> -->
        <p>Size: {{product.size}}</p>
        <p>Category: {{product.categories}}</p>
        <p>Price: {{product.price}}$</p>
        <!-- <p>id: {{product.id}}</p> -->
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
