{% extends 'main/navbar.html' %} {% load static %}{% block content %}
<head>
  <link rel="stylesheet" href=" {% static '/css/addProducts.css' %} " />
</head>

<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="inputs">
  <h1>Add products</h1>
  <input
    type="text"
    name="name"
    placeholder="Product Name"
    id="nameinput"
    maxlength="20"
    required
  />
  <textarea name="description" placeholder="description" required></textarea>

  <select name="category" onchange="sizes()" id="category">
    <option name="Shoes" value="Shoes">Shoes</option>
    <option name="Clothes" value="Clothes">Clothes</option>
    <option name="Accesories" value="Accesories">Accesories</option>
  </select>

  <select id="shoes" name="sizeS" onchange="shoes()">
    {% for size in shoessize %}
    <option name="{{size}}" value="{{size}}">{{size}}</option>
    
    {% endfor %}
  </select>

  <select id="clothes" name="sizeC" onchange="clothes()">
    {% for size in clothessize %}
    <option name="{{size}}" value="{{size}}">{{size}}</option>
    
    {% endfor %}
  </select>

  <input
    
    type="text"
    name="sizeA"
    id="accesories"
    maxlength="10"
    placeholder="Accesory Size"
  />
  <select id="condition" name="condition">
    <option name="New" value="New">New</option>
    <option name="9/10" value="9/10">9/10</option>
    <option name="8/10" value="8/10">8/10</option>
    <option name="7/10" value="7/10">7/10</option>
    <option name="6/10" value="6/10">6/10</option>
    <option name="5/10" value="5/10">5/10</option>
    <option name="4/10" value="4/10">4/10</option>
    <option name="3/10" value="3/10">3/10</option>
    <option name="2/10" value="2/10">2/10</option>
    <option name="1/10" value="1/10">1/10</option>
  </select>

  <input
    type="number"
    name="price"
    step="0.01"
    placeholder="price in €"
    min="0.01"
    id="priceinput"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    
    maxlength = "5"
    required
  />
  <select id="country" name="country">
    {% for country in eu %}
    <option name="{{country}}" value="{{country}}">{{country}}</option>
    {% endfor %}
  </select>
  <input
    type="file"
    name="image"
    accept="image/*"
    onchange="loadFile(event)"
    required
  />
  <div class="colors">
    <p>Pick colors theme of button and boxes</p>
  <input type="color" name="color1" value="#FFFFFF" id="color1input" onchange="ChangeColor()"/>
  <input type="color" name="color2" id="color2input" value="#000000" onchange="ChangeColor()"/>
</div>
</div>
  <button type="submit" name="create" value="create" class="submit">
    Create New
  </button>
</form>
<div class="row">
  <div class="kolonka-1" id="kolonka-1">
    <div class="small-box" id="gradient"></div>
    <h2><span id="nameoutput">Name</span></br>
      <span id="sizeoutput">Size</span></h2>
    <h4 id="priceoutput">1000 €</h4>
    <button class="add-to-cart" type="submit" id="gradient2" value="Contact" name="Contact">
      Contact
    </button>
  </div>
  <div class="kolonka-2">
    <img
      id="imgoutput"
      src="{% static '/images/blessedimg.jpeg' %}"
      alt="your image"
      class="shoe"
    />
    <div class="bg-box" id="gradient3"></div>
  </div>
</div>
<script src="{% static '/js/addProducts.js' %}"></script>
<script src="{% static '/js/reload.js' %}">
</script>
{% endblock %}
