{% extends 'main/navbar.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href=" {% static '/css/productEdit.css' %} " />
</head>


<h1>Edit Product</h1>
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="changes">
    <input
      type="text"
      name="name"
      placeholder="Product Name"
      value="{{pd.name}}"
      required
    />
    <textarea name="description" placeholder="description" required>
  {{pd.description}}</textarea
    >

    <input
      type="number"
      name="price"
      step="0.01"
      placeholder="price"
      value="{{pd.price}}"
      required
    />
    <div class="colors">
      <input type="color" name="color1" value="{{pd.color1}}" />
      <input type="color" name="color2" value="{{pd.color2}}" />
    </div>
    <button type="submit" name="change" value="change" class="change">
      Change
    </button>
  </div>
</form>
<div class="row">
  <div class="kolonka-1" id="kolonka-1">
    <div class="small-box" id="gradient"></div>
    <h2><span id="nameoutput">Name</span></br>
      <span id="sizeoutput">Size</span></h2>
    <h4 id="priceoutput">1000 €</h4>
    <button class="add-to-cart" type="submit" id="gradient2" value="Contact" name="Contact">
      Contact
    </button>
  </div>
  <div class="kolonka-2">
    <img
      id="imgoutput"
      src="{% static '/images/blessedimg.jpeg' %}"
      alt="your image"
      class="shoe"
    />
    <div class="bg-box" id="gradient3"></div>
  </div>
</div>
{% endblock %}