{% extends 'main/navbar.html' %} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href=" {% static '/css/products.css' %} " />
</head>
<h2>Products:</h2>
<form method="post" action="">
  {% csrf_token %}
  <select name="order_by" id="order_by" onchange="this.form.submit()">
    <option
      class="hidden_option"
      value="{{order}}"
      name="{{order}}"
      style="display: none"
    >
      {{choice}}
    </option>
    <option value="-id" name="-id">Latest products</option>
    <option value="id" name="id">Oldest products</option>
    <option value="price" name="price">Lowest Price</option>
    <option value="-price" name="price">Highest Price</option>
  </select>
  <select name="pricemax" id="pricemax" onchange="this.form.submit()">
    <option
      class="hidden_option"
      value="{{price}}"
      name="{{price}}"
      style="display: none"
    >
      {{choicep}}
    </option>
    <option value="0" name="0">Price up to €</option>
    <option value="100" name="100">up to 100€</option>
    <option value="200" name="200">up to 200€</option>
    <option value="500" name="500">up to 500€</option>
    <option value="1000" name="1000">up to 1000€</option>
    <option value="2000" name="2000">up to 2000€</option>
    <option value="2001" name="2001">from 2000€</option>
  </select>
  <h5>Categories</h5>
  {% for category in categories %} {% if category in c %}
  <label
    ><input
      type="checkbox"
      name="category"
      value="{{category}}"
      onchange="this.form.submit()"
      checked
    />{{category}}</label
  >
  {% else %}
  <label
    ><input
      type="checkbox"
      name="category"
      value="{{category}}"
      onchange="this.form.submit()"
    />{{category}}</label
  >
  {%endif%} {% endfor %}
  <h5>Size</h5>
  {% for size in sizes %} {% if size in x %}
  <label
    ><input
      type="checkbox"
      name="size"
      value="{{size}}"
      onchange="this.form.submit()"
      checked
    />{{size}}</label
  >
  {% else %}
  <label
    ><input
      type="checkbox"
      name="size"
      value="{{size}}"
      onchange="this.form.submit()"
    />{{size}}</label
  >
  {%endif%} {% endfor %}
  <h5>Condition</h5>
  {% for condition in conditions %} {% if condition in y %}
  <label
    ><input
      type="checkbox"
      name="condition"
      value="{{condition}}"
      onchange="this.form.submit()"
      checked
    />{{condition}}</label
  >
  {% else %}
  <label
    ><input
      type="checkbox"
      name="condition"
      value="{{condition}}"
      onchange="this.form.submit()"
    />{{condition}}</label
  >
  {%endif%} {% endfor %}
  <h5>Country</h5>
  {% for country in eu_countries %} {% if country in z %}
  <label
    ><input
      type="checkbox"
      name="country"
      value="{{country}}"
      onchange="this.form.submit()"
      checked
    />{{country}}</label
  >
  {% else %}
  <label
    ><input
      type="checkbox"
      name="country"
      value="{{country}}"
      onchange="this.form.submit()"
    />{{country}}</label
  >
  {%endif%} {% endfor %}

</form>
{% if pd.count == 0 %}
<p>Nothing Match</p>
{% endif %}
<div class="container">
  <ul class="products">
    {% for product in pd %}
    <li class="product">
      <a href="/{{product.id}}/">
        <img class="image" src="{{product.image.url}}" alt="image" />
        <p>Name: {{product.name}}</p>
        <p>Country: {{product.country}}</p>
        <p>Size: {{product.size}}</p>
        <p>condition: {{product.condition}}</p>
        <p>Category: {{product.categories}}</p>
        <p>Price: {{product.price}}€</p>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<script>
;



</script>
{% endblock %}
