{% extends 'main/navbar.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href=" {% static '/css/productLook.css' %} " />
</head>

<style>
.add-to-cart,
.bg-box,
.add-to-cart,
.small-box {
  background: linear-gradient({{pd.color1}}, {{pd.color2}});
}

::-webkit-scrollbar-thumb {
  background: linear-gradient({{pd.color1}}, {{pd.color2}});
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient({{pd.color1}}, {{pd.color2}});
  border-radius: 10px;
}
</style>

<form method="post" action="">
  {% csrf_token %}
  <div class="row">
    <div class="kolonka-1">
      <div class="small-box"></div>
      <h2>{{pd.name}}<br>{{pd.description}}</h2>
      <h4>{{pd.price}}</h4>
      <button class="add-to-cart" type="submit" value="addtocart" name="addtocart">Add to Cart</button>
    </div>
    <div class="kolonka-2">
        <img class="shoe" src="{{pd.image.url}}" alt="image" />
        <div class="bg-box"></div>
    </div>
  </div> 
</form>
{% endblock %}
