{% extends 'main/navbar.html' %}{% load static%} {% block content%}
<head>
  <link rel="stylesheet" href=" {% static '/css/userproducts.css' %} " />
</head>
<body>
  <h2>My Products</h2>
  <a href="/add/" class="add">
    <button class="add-products">Add products</button>
  </a>

  {% if user.products.count == 0 %}
  <p>nemas vlastne produkty</p>

  {% else %}
  <form method="post" action="" id="form_id" >
    {% csrf_token %} {% for product in pd %}
    <div class="products">
      <div class="product">
        <a href="/{{product.id}}/" class="img">
          <img class="image" src="{{product.image.url}}" alt="image" />
        </a>
          <div class="desc">
            <p>Name: {{product.name}}</p>
            <p>Id: {{product.id}}</p>
            <p>Desciption: {{product.description}}</p>
            <p>Size: {{product.size}}</p>
            <p>Category: {{product.categories}}</p>
            <p>Price: {{product.price}}$</p>
            <p>condition: {{product.condition}}/10</p>
            <p>color1: {{product.color1}}</p>
            <p>color2: {{product.color2}}</p>
          </div>

          <button type="submit" value="{{product.id}}" name="delete" class="remove">Remove</button>
          <a href="/edit-{{product.id}}/"><button class="edit">Edit</button></a>
          {% if product.active == True%}
      
          <label class="switch">
            <input type="checkbox" onchange="form.submit()" name="p{{product.id}}" checked />
            <span class="slider round"></span>
          </label>
        
        {% else %}
    
        <label class="switch">
          <input type="checkbox" class="checkbox" onchange="form.submit()"   name="p{{product.id}}"/>
          <span class="slider round"></span>
        </label>
      </div>
    
    
    {% endif %}
      </div>
    </div>
    {% endfor %}
  </form>
  {% endif %}
</body>

{% endblock %}
