{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <meta
    name="description"
    property="og:description"
    content="Blessed is website for selling or buying hype shoes, clothes and accesories"
  />
  <meta property="og:title" content="Password Reset - Blessed" />
  <title>Password Reset - Blessed</title>
  <meta name="author" content="Jerguš Sňahničan, Alexander Poole" />
  <meta
    name="keywords"
    content="Blessed, blessed, resell,market, hypebeast,shoes,clothes,accesories"
  />
</head>
<h2>Password Reset Sent</h2>
<p>
  We have emailed you instructions for setting your new password, If an account
  with this mail you entered exists, you should receive them shortly
</p>
<p>
  If you didnt get a mail from us, check if the adress you entered is right or
  check your spam folder
</p>
{% endblock %}
