#clothes {
    display: none;
}
#accesories {
    display: none;
}
#shoes {
    display: inline-block;
}

body {
    margin: auto;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 52px;
    text-align: center;
    margin-bottom: 50px;
}

form {
    margin: auto;
    width: 60%;
    height: 50%;
}

.inputs {
    display: grid;
    width: 100%;
    grid-gap: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, 100px);
}

.inputs input, select { 
    align-self: center;
    height: 35px;
}

.inputs input, textarea {
    padding-left: 10px;
}

textarea {
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
    resize: none;
}

.colors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    background-color: transparent;
    border: none;
    width: 50%;
}

.submit {
    margin-top: 40px;
    height: 35px;
    width: 30%;
    background-color: black;
    color: white;
    cursor: pointer;
}

.submit:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.import-file {
    height: 35px;
    cursor: pointer;
}
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 15%;
    }
    
    .kolonka-1{
        flex-basis: 40%;
        position: relative;
        margin-left: 100px;
    }
    
    .kolonka-1 h2{
        font-size: 54px;
    }
    
    .kolonka-1 h4{
        margin: 30px 0;
        font-size: 20px;
    }
    
    .small-box{
        content: "";
        width: 10px;
        height: 100%;
        
        position: absolute;
        left: -50px;
        top: 8px;
    }
    
    .add-to-cart {
        width: 30%;
        border: 0;
        height: 35px;
        color:#fff;
        
        cursor: pointer;
    }
    
    /* .add-to-cart:hover{
        width: 160px;
        display: flex;
        align-items: center;
    } */
    
    .kolonka-2{
        position: relative;
        flex-basis: 70%;
        display: flex;
        align-items: center;
    }
    
    .kolonka-2 .shoe{
        width: 80%;
        
    }
    
    .bg-box{
        position: absolute;
        right: 0;
        top: 10%;
        
        border-radius: 10px 0px 0px 10px;
        height: 80%;
        width: 10%;
    }

button {
    
    border: none;
}

button:hover {
    color: white;
}

  .bg-box,
  .add-to-cart,
  .small-box {
    background: linear-gradient(#FFFFFF, #000000 );
  }