* {
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
#clothes {
    display: none;
}
#accesories {
    display: none;
}
#shoes {
    display: block;
}

body {
    border: none;
}

h1 {
    font-size: 52px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

input, select { 
    align-self: center;
    height: 35px;
}

input:not(.search-field), select, textarea, .import-file {
    width: 80%;
    margin: auto;
}

textarea {
    padding-bottom: 20px; 
    resize: none;
}


.sugest {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    display: flex;
    justify-content: center;

}

.color .color1 , .color2 {
    margin: 50px;
    display: flex;
    align-items: center;
} 

.color1, .color2 {
    display: flex;
    height: 35px;
}

.color input{
    background-color: transparent;
    border: none;
    width: 125px;
    flex-basis: 50%;
}

.submit {
    position: absolute;
    top: 105%;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    background-color: black;
    color: white;
    cursor: pointer;
}

.submit:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.import-file {
    height: 35px;
    cursor: pointer;
} 

.adding {
    width: 80%;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, 100px);
    
}

.row{
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

.kolonka-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 10%;
}

.kolonka-1 h2{
    font-size: 54px;
    display: flex;
}

.kolonka-1 h3 {
    font-size: 40px;
    color: grey;
    display: flex;
}

.kolonka-1 h4{
    margin: 30px 0;
    font-size: 20px;
    display: flex;
}

.small-box{
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    left: -30px;
}

.buttons {
    display: flex;
    width: 100%;
    margin-top: 25px;
}

.add-to-cart {
    width: 30%;
        border: 0;
        height: 35px;
        color:#fff;
        cursor: pointer;
        
}

/* .add-to-cart:hover{
    width: 160px;
    display: flex;
    align-items: center;
} */

.kolonka-2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.kolonka-2 .shoe{
    height: 500px;
    position: relative;
    padding-right: 150px;
}

.bg-box{
    position: absolute;
    right: 0;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    width: 10%;
}

.description {
    margin-top: 5%;
}

.desc-param {
    width: 50%;
    display: flex;
    text-align: left;
    line-height: 1.5;
}

.description h5 {
    font-size: 36px;
    margin-bottom: 5%;
    display: flex;
}

.kolonka-1-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 100px;
}

.kolonka-1-1 h2{
    font-size: 54px;
}

.kolonka-1-1 h4{
    margin: 30px 0;
    font-size: 20px;
}

.small-box{
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
}

.kolonka-2-1{
    display: flex;
    align-items: center;
}

.kolonka-2-1 .shoe-1{
    width: 100%;
    background-color: rgb(244, 244, 244);
}

#imgoutput {
    margin-left: 150px;
}

.bg-box,
.add-to-cart,
.small-box,
.small-box-2 {
    background: linear-gradient(#FFFFFF, #000000 );
}

::-webkit-file-upload-button {
    height: 35px;
    width: 50%;
    color: white;
    background-color: black;
    cursor: pointer;
}

::-webkit-file-upload-button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

::-webkit-scrollbar {
    display: none;
}

.description-1,
.buttons-1,
.name,
.shoe-1,
.row-1,
hr {
    display: none;
}

@media (max-width: 991px) {

    body {
        max-width: 100%;
    }

    .submit {
        top: 145%;
    }

    .sugest p{
        text-align: center;
    }

    .inputs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, 100px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    input, select, textarea, .import-file {
        width: 80%;
        margin: auto;
    }

    .adding {
        width: 80%;
    }

    .description-1,
    .buttons-1,
    .name,
    .shoe-1,
    .row-1,
    hr {
        display: block;
    }

    .row {
        display: none;
    }

    ::-webkit-file-upload-button {
        height: 35px;
        font-size: 16px;
        width: 50%;
        border-radius: 5px;
    }

    .submit {
        border-radius: 5px;
    }

    .color .color1 , .color2 {
        margin: 10px;
    } 

    .row-1 {
        position: relative;
        margin-top: 300%;
    }
}