/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

::-webkit-scrollbar {
  width: 10px; 
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#817693e7, #cfb7b1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#817693e7, #cfb7b1);
  border-radius: 10px;

}

body { -webkit-font-smoothing: antialiased; }

.second-navbar {
  width: 100%;
  height: 45px;
  background-color: rgb(228, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-navbar ul {
  display: inline-block;
}

.second-navbar ul li {
  display: inline-block;
}

.second-navbar ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding-left: 45px;
}

h2, h3{
  font-size: 37px;
  padding-top: 3%;
}

.brands {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.5%;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  list-style-type: none;
}

.brand {
  background: linear-gradient(#817693e7, #cfb7b1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.brand::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.brand:hover {
  transform: scale(1.05); 
}

.jordan {
  width: 50%;
}

.nike {
  width: 70%;
}

.supreme {
  width: 100%;
}

.off-white {
  width: 60%;
}

.yeezy {
  width: 70%;
} 

.image {
  position: absolute;
  width: 200px;
  height: 125px;
  left: 0;
  top: 10px;
  object-fit: cover;
  /* clip: rect(25px, 200px, 150px, 0px); */
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  padding-left: 2%;
  padding-right: 2%;
}

.info a {
  color: purple;
  text-decoration: none;
  padding-top: 75px;
}

.product { 
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.container {
  padding-left: 2%;
  display: flex;
  justify-content: center;
  width: 96%;
}

.desc {
  color: black;
  text-decoration: none;
  position: absolute;
  bottom: 25px;
  left: 5px;
}

.products {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(200px, 275px);
  height: 300%;
  grid-gap: 5%;
  list-style-type: none;
  overflow-y: hidden;
  overflow-x: auto;
}

.products a {
  text-decoration: none;
}

@media  screen and (max-width:991px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FFF; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#817693e7, #cfb7b1);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#817693e7, #cfb7b1);
    border-radius: 10px;
  
  }
  
  body { -webkit-font-smoothing: antialiased; }
  
  .second-navbar {
    width: 100%;
    height: 25px;
    background-color: rgb(228, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .second-navbar ul {
    display: inline-block;
  }
  
  .second-navbar ul li {
    display: inline-block;
  }
  
  .second-navbar ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-left: 45px;
  }
  
  h2, h3{
    font-size: 30px;
    padding-top: 3%;
    padding-left: 3%;
  }
  
  h2 {
    padding-top: 6%;
  }
  
  .brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(75px, 1fr);
    grid-gap: 1%;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    list-style-type: none;
  }
  
  .brand {
    background: linear-gradient(#817693e7, #cfb7b1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out; 
  }
  
  .brand:hover {
    transform: scale(1.05); 
  }
  
  .jordan {
    width: 50%;
  }
  
  .nike {
    width: 70%;
  }
  
  .supreme {
    width: 100%;
  }
  
  .off-white {
    width: 60%;
  }
  
  .yeezy {
    width: 70%;
  } 
  
  .image {
    position: absolute;
    width: 125px;
    height: 75px;
    left: 0;
    top: 20px;
    object-fit: cover;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .info a {
    color: purple;
    text-decoration: none;
    padding-top: 35px;
  }
  
  .product {
    width: 125px;
  }
  
  .container {
    padding-left: 5%;
    display: flex;
    justify-content: center;
    width: 90%;
  }
  
  .desc {
    color: black;
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(200px, 200px);
    height: 300%;
    grid-gap: 7%;
    list-style-type: none;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
