/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

::-webkit-scrollbar {
  width: 10px; 
  height: 10px;
}
 
::-webkit-scrollbar-track {
  background: rgb(243, 243, 243);
} 

::-webkit-scrollbar-thumb {
  background: #c8c8c8e7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;

}

body { 
  -webkit-font-smoothing: antialiased; 
  overflow:auto;
  overflow:initial;
}

.second-navbar {
  height: 45px;
  background-color: rgb(228, 224, 224);
  display: flex;
  justify-content: center;
}

.second-navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
}

.second-navbar ul li {
  list-style-type: none;
}

.second-navbar ul li a {
  color: black;
  font-size: 25px;
}

h2, h3{
  font-size: 52px;
  padding-top: 3%;
}

a {
  text-decoration: none;
}

.brands {  
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(5, 13%);
  grid-gap: 3%;
  padding-top: 5%;
  list-style-type: none;
}

.brand {
  background: linear-gradient(#c8c8c8e7, #ffe6df);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.brand::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.brand:hover {
  transform: scale(1.05); 
}

.jordan {
  width: 50%;
}

.nike {
  width: 70%;
}

.supreme {
  width: 100%;
}

.tnf {
  width: 60%;
}

.yeezy {
  width: 70%;
} 

.container {
  padding-left: 2%;
  display: flex;
  justify-content: center;
  width: 96%;
}

.products {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(200px, 250px);
  height: 300%;
  grid-gap: 5%;
  list-style-type: none;
  overflow-y: hidden;
  overflow-x: auto;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  padding-left: 2%;
  padding-right: 2%;
}

.info a {
  color: purple;
  padding-top: 75px;
}

.product { 
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px 0 #e6ebf1; 
}

.image {
  position: absolute;
  width: 190px;
  height: 125px;
  left: 5;
  border-radius: 5px;
  top: 15px;
  object-fit: cover;
  transition: all ease-in .1s;
  z-index: 1;
}

.image:hover {
  transform: scale(1.1);
  z-index: 3;
}

.desc {
  color: black;
  position: absolute;
  bottom: 15px;
  left: 5px;
  padding-left: 5px;
  border-radius: 5px;
  padding-bottom: 5px;
  width: 185px;
}

.desc p {
  line-height: 0.9;
  padding-left: 5px;
  margin-top: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.C {
  position: absolute;
  top: 20;
  left: 10;
  color: black;
  background-color: rgb(226, 226, 226);
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
  z-index: 2;
}

@media  screen and (max-width:991px) {
  .second-navbar {
    height: 35px;
  }

  .second-navbar ul li a {
    font-size: 20px;
  }
  
  h2, h3{
    font-size: 30px;
    padding-left: 3%;
  }
  
  h2 {
    padding-top: 10%;
  }

  h3 {
    padding-top: 10%;
  }
  
  .brands {
    grid-template-columns: repeat(5, 17%);
    grid-gap: 1%;
  }
  
  .supreme {
    width: 110%;
  }
  
  .tnf {
    width: 80%;
  }
  
  .yeezy {
    width: 80%;
  } 
   
  .container {
    padding-left: 5%;
    padding-bottom: 5%;
  }

  .info a {
    padding-top: 35px;
  }

  .products {
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(200px, 215px);
    height: 400%;
    grid-gap: 10%;
  }

  .product {
    width: 150px;
  }
   
  .image {
    width: 150px;
    height: 75px;
  }

  .desc {
    bottom: 5px;
    left: 5px;
  }
}