*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/13.png");
    overflow: hidden;
    text-align: left;
}


.from-group {
    position: absolute;
    left: 40%;
    top: 35%;
}
.bubble {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
    opacity: .7;
    transition: linear 2s, transform 0.2s;
}

.bubble:hover {
    z-index: -1;
    transform: scale(1.7);
}

.bubble--bust {
    z-index: -1;
    transform: scale(1.8);
}

label {
    font-size: 25px;
    font-family: sans-serif;
}

input {
    width: 120%;
    height: 35px;
    background-color: white;
    padding-left: 10px;
}

.register {
    padding-top: 15px;
    font-size: 20px;
}

a {
    color: blue ;
}

.log-in {
    margin-top: 15px;
    width: 40%;
    height: 35px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.log-in:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}