*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("../images/13.png");
    overflow: hidden;
    text-align: left;
}

.bubble {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
    opacity: .7;
    transition: linear 2s, transform 0.2s;
}

.bubble:hover {
    z-index: -1;
    transform: scale(1.7);
}

.bubble--bust {
    z-index: -1;
    transform: scale(1.8);
}

*{
    margin: auto;
}

.logo {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

form {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1, 1fr;
    padding-top: 10%;
}

input {
    width: 15%;
    text-align: center;
    font-size: 16px;
    height: 35px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    font-size: 18px;
    position: relative;
}

.log-in {
    background-color: black;
    color: white;
    width: 7%;
    height: 35px;
    margin-top: 2%;
    cursor: pointer;
}

.log-in:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.register {
    background-color: black;
    color: white;
    width: 7%;
    height: 35px;
    cursor: pointer;
}

.register:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

button {
    margin-bottom: 5px;
}

p {
    margin-bottom: 5px;
}

.instagram {
    height: 50px;
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
}