*{
    margin: 0;
    padding: 0;
    font-family: "SuisseIntl-Medium",sans-serif;
}

.navcontainer {
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    max-height: 100px;
}

.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-logo{
    width: 100px;
    cursor: pointer;
    margin: 0px 0px;
}

nav{
    flex: 1;
    text-align: right; 
}

nav ul {
    padding-right: 25px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover{
    color: rgb(201, 25, 201);
}

.log-out {
    width: 120px;
    height: 35px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.log-out:hover {
    color: black;
    background-color: white;
}

.search {
    width: 50%;
    position: relative;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
}

.search-button {
    width: 120px;
    height: 35px;
    color: white;
    background-color: black;
    cursor: pointer;
    
}

.search-button:hover {
    color: black;
    background-color: white;
    border: none;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.search-field {
    padding-left: 15px;
    height: 35px;
    width: 240px;
    border: none;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.search-mobile {
    display: none;
}

#menu {
    display: none;
}

@media (max-width: 1054px) {
    .navcontainer {
        padding: 0;
    }

    .navbar{
        height: 90px;
    }

    .nav-logo{
        height: 90px;
        width: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    .log-out {
        display: none;
    }

    .search {
        padding-left: 18px;
        height: 30px;
        width: 70%;
        border-radius: 10px;
        display: none;
    }

    .search-mobile {
        display: block;
        background-color: transparent;
        height: 25px;
        border: none;
        position: absolute;
        right: 20px;
        top: 35px;
    }

    ul {
        display: none;
    }
}