*{
    margin: 0;
    padding: 0;
    font-family: "SuisseIntl-Medium",sans-serif;
}

.navcontainer {
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    max-height: 100px;
}

.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    
    width: 100px;
    cursor: pointer;
    margin: 0px 0px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    padding-right: 25px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover{
    color: rgb(201, 25, 201);
}

.log-out {
    width: 10%;
    height: 35px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.log-out:hover {
    color: black;
    background-color: white;
}

.search {
    width: 50%;
    position: relative;
    margin-left: 25px;
    
    display: flex;
    flex-direction: row;
}

.search-button {
    width:10%;
    height: 35px;
    color: white;
    background-color: black;
    cursor: pointer;
    
}

.search-button:hover {
    color: black;
    background-color: white;
}

.search-field {
    padding-left: 15px;
    height: 35px;
    width: 20%;
    border: 1px solid black;
}
