.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.kolonka-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 100px;
}

.kolonka-1 h2{
    font-size: 54px;
}

.kolonka-1 h4{
    margin: 30px 0;
    font-size: 20px;
}

.small-box{
    content: "";
    width: 10px;
    height: 100%;
    
    position: absolute;
    left: -50px;
    top: 8px;
}

.add-to-cart {
    width: 30%;
    border: 0;
    height: 35px;
    color:#fff;
    
    cursor: pointer;
}

/* .add-to-cart:hover{
    width: 160px;
    display: flex;
    align-items: center;
} */

.kolonka-2{
    position: relative;
    flex-basis: 70%;
    display: flex;
    align-items: center;
}

.kolonka-2 .shoe{
    width: 80%;
}

.bg-box{
    position: absolute;
    right: 0;
    top: 10%;
    
    border-radius: 10px 0px 0px 10px;
    height: 80%;
    width: 10%;
}

button {
    
    border: none;
}

button:hover {
    color: white;
}
