.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.kolonka-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 100px;
}

.kolonka-1 h2{
    font-size: 54px;
}

.kolonka-1 h4{
    margin: 30px 0;
    font-size: 20px;
}

.small-box{
    content: "";
    width: 10px; 
    height: 100%;
    background: linear-gradient(#45abffe7, #ff4f23);
    position: absolute;
    left: -50px;
    top: 8px;
}

.add-to-cart {
    width: 30%;
    border: 0;
    height: 35px;
    color:#fff;
    background: linear-gradient(#45abffe7, #ff4f23);
    cursor: pointer;
}

/* .add-to-cart:hover{
    width: 160px;
    display: flex;
    align-items: center;
} */

.kolonka-2{
    position: relative;
    flex-basis: 70%;
    display: flex;
    align-items: center;
}

.kolonka-2 .shoe{
    width: 80%;
}

.bg-box{
    position: absolute;
    right: 0;
    top: 10%;
    background: linear-gradient(#45abffe7, #ff4f23);
    border-radius: 10px 0px 0px 10px;
    height: 80%;
    width: 10%;
}

.add-to-cart {
    background: linear-gradient(#45abffe7, #ff4f23);
    border: none;
}

button:hover {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background: rgb(231, 231, 231); 
}
   
::-webkit-scrollbar-thumb {
    background: linear-gradient(#817693e7, #cfb7b1);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#817693e7, #cfb7b1);
    border-radius: 10px;
}
  
  
body { -webkit-font-smoothing: antialiased; }