* {
    font-family: sans-serif;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

h5 {
    font-size: 52px;
    margin-bottom: 3%;
}

h6 {
    font-size: 52px;
    margin-bottom: 3%;
}


.instagram-asking , .ig-first , .mail-asking , .mail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 0 15px 0 15px;
    border: 1px solid grey;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.kolonka-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 100px;
    display: flex;
    align-items: center;
    height: 300px;
}

.kolonka-1 h2{
    font-size: 44px;
}

.kolonka-1 h4{
    margin: 30px 0;
    font-size: 20px;
}

.small-box{
    content: "";
    width: 10px;
    position: absolute;
    left: -50px;
}

.add-to-cart {
    width: 120px;
    border: 0;
    height: 35px;
    color:#fff;
    
}

/* .add-to-cart:hover{
    width: 160px;
    display: flex;
    align-items: center;
} */

.kolonka-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.kolonka-2 .shoe{
    width: 80%;
    object-fit: cover;
    background-color: beige;
}

.bg-box{
    position: absolute;
    right: 0;
    top: 15%;
    border-radius: 10px 0px 0px 10px;
    height: 70%;
    width: 10%;
}

/* .kolonka-2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.kolonka-2 .shoe{
    height: 500px;
    position: relative;
    padding-right: 150px;
}

.bg-box{
    position: absolute;
    right: 0;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    width: 10%;
} */

.description-1,.contact-line,.about-product,.for-sale{
    width: 80%;
}
.description-1{
    margin-top: 5em;
}
.contact-line,.about-product,.for-sale{
    width: 72%;
}


h6 {
    margin-top: 15px;
}
.center{
    display: flex;
    justify-content: center;
}



.row-1{
    width: 100%;
    display: none;
}

.kolonka-1-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 100px;
}

.kolonka-1-1 h2{
    font-size: 54px;
}

.kolonka-1-1 h4{
    margin: 30px 0;
    font-size: 20px;
}

.small-box{
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    top: 8px;
}

.kolonka-2-1{
    display: flex;
    align-items: center;
}

.kolonka-2-1 .shoe-1{
    width: 100%;
    background-color: rgb(244, 244, 244);
}

.description, .row-1, .name, .visuals, hr, .description-1, .about-product, .contact, .buttons-1 {
    display: block;
}
.bottom-content,.kolonka-2-1,.name {
    display: none;
}
/* nove */


.bottom-content {display: none;}
.row-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


.wantedbtn{
    display: none;
}

h3 {
    font-size: 45px;
    max-width: 100%;
    margin-left: 15px;
    margin-top: 25px;
}

h4 {
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 10px;
    display: block;
}

h6 {
    font-size: 30px;
    margin-bottom: 25px;
    height: 40px;
}

a {
    text-decoration: none;
}

#profile-btn {
    display: block;
    width: 50%;
    background-color: black;
    color: white;
    height: 50px;
    font-size: 20px;
    transform: translateX(50%);
    margin-bottom: 25px;
    
    border-radius: 5px;
}

.name {
    max-width: 100%;
    margin-top: 25px;
}

.condition , .price{
    width: 45%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 5px;
    color: white;
}

.visuals {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.visuals p {
    font-size: 17px;
}

.country, .question {
    font-size: 20px;
    margin-bottom: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.desc-content {
    width: 80%;
    font-size: 18px;
    color: rgb(128, 128, 128);
    margin-bottom: 20px;
    margin-top: 15px;
}

.instagram {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}

.instagram p {
    font-size: 18px;
    color: rgb(128, 128, 128);
    margin-bottom: 5px;
}

hr {
    width: 90%;
    transform: translateX(5%);
    z-index: -1;
}

.for-sale {
    position: absolute;
    margin-top: 20px;
} 

.about-product {
    position: absolute;
    margin-top: 20px;
}

.desc {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    width: 220px;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 40px;
    z-index: 2;
    background-color: white;
}

.description-1 h4 {
    background-color: white; 
    width: 170px;
    margin: auto;
    margin-bottom: 15px;
    z-index: 2;
}


.mail {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: rgb(128, 128, 128);
}

.contact-line {
    position: absolute;
    margin-top: 20px;
}

.contact h6{
    background-color: rgb(255, 255, 255); 
    width: 170px;
    margin: auto;
    margin-bottom: 15px;
    z-index: 2;
}

.links {
    width: 90%;
    transform: translateX(5%);
    margin-bottom: 30px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
@media (max-width:991px) {
    .row {
        display: none;
    }

    .description, .row-1, .name, .visuals, hr, .description-1, .about-product, .contact, .buttons-1,.kolonka-2-1 {
        display: block;
    }
    .bottom-content {display: none;}
    .row-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    h1 {
        font-size: 40px;
        margin-left: 15px;
    }

    h2 {
        font-size: 35px;
        color: rgb(131, 131, 131);
        margin-left: 15px;
    }

    h3 {
        font-size: 45px;
        max-width: 100%;
        margin-left: 15px;
        margin-top: 25px;
    }

    h4 {
        margin-top: 25px;
        font-size: 30px;
        margin-bottom: 10px;
        display: block;
    }

    h6 {
        font-size: 30px;
        margin-bottom: 25px;
        height: 40px;
    }

    a {
        text-decoration: none;
    }

    #contact-btn {
        display: block;
        width: 50%;
        background-color: black;
        color: white;
        height: 50px;
        font-size: 20px;
        transform: translateX(50%);
        margin-bottom: 25px;
        margin-top: 10%;
        border-radius: 5px;
    }

    .name {
        max-width: 100%;
        margin-top: 25px;
    }

    .condition , .price{
        width: 45%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(213, 213, 213);
        border-radius: 5px;
        color: white;
    }

    .visuals {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .visuals p {
        font-size: 17px;
    }

    .country, .question {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .info {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;
    }

    .desc-content {
        font-size: 18px;
        color: rgb(128, 128, 128);
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .instagram {
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        justify-content: space-between;
    }

    .instagram p {
        font-size: 18px;
        color: rgb(128, 128, 128);
        margin-bottom: 5px;
    }

    hr {
        width: 90%;
        transform: translateX(5%);
        z-index: -1;
    }

    .for-sale {
        position: absolute;
        margin-top: 20px;
    } 

    .about-product {
        position: absolute;
        margin-top: 20px;
    }
    
    .desc {
        margin-top: 20px;
        font-size: 30px;
        margin-bottom: 10px;
        width: 220px;
        display: flex;
        justify-content: center;
        margin: auto;
        height: 40px;
        z-index: 2;
        background-color: white;
    }

    .description-1 h4 {
        background-color: white; 
        width: 170px;
        margin: auto;
        margin-bottom: 15px;
        z-index: 2;
    }


    .mail {
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: rgb(128, 128, 128);
    }

    .contact-line {
        position: absolute;
        margin-top: 20px;
    }

    .contact h6{
        background-color: rgb(255, 255, 255); 
        width: 170px;
        margin: auto;
        margin-bottom: 15px;
        z-index: 2;
    }

    .links {
        width: 90%;
        transform: translateX(5%);
        margin-bottom: 30px;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
    }
    .wantedbtn{
        display: block;
    }
    .description-1 {
        margin-top: 3em;
    }
}