* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    height: 13%;
    width: 100%;
    background-color: aqua;
    border-bottom: 1px solid rgb(183, 183, 183);
}

form {
    width: 25%;
    height: 80%;
    margin: auto;
    margin-top: 20px;
    border: 0.5px solid rgb(183, 183, 183);
}

/* .register input {
    top: 100px;
    height: 40%;
    width: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    border: 0.2px solid rgb(183, 183, 183);
}

.register .requiredField  {
    display: none;
}

.register ul li {
    font-size: 5px;
}

.btn {
    cursor: pointer;
    top: 120px;
    position: relative;
    background-color: black;
    color: white;
    margin: auto;
    font-size: 16px;
    border: 1px solid rgb(148, 148, 148);
    height: 40%;
    width: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-text {
    display: none;
}

p {
    display: none;
} */