.image {
    width: 40%;
    
}
.product {
    
    
    display: flex;
    justify-content: center;
    
}
.container {
    display: flex;
    justify-content: center;
   
    
}
.products {
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
   overflow-y: hidden;
    overflow-x: auto;
}