{% extends 'main/navbar.html' %} {% load static %} 
<title>{% block title %}Contact - Blessed{% endblock  %}</title>
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href=" {% static '/css/Contact.css' %} " />
</head>
<div class="only-contact">
    <div class="contact">
        <h1>You can find us on these platforms!</h1>
        <div class="contacts">
            <a href=""><img src="/static/images/instagram.png"></a>
            <a href=""><img src="/static/images/tik-tok.png"></a>
            <a href=""><img src="/static/images/mail.png"></a>
        </div>
    </div>

    <div class="center-send">
        <form class="send" method="POST">
            {% csrf_token %}
            <h2>Send mail</h2>
            <div class="name">
                <div class="namediv"><label class="name">Name</label></div>
                <input class= "input-name" type="text" id="name" name="name" required>
            </div>
            <div class="mail">
            <div class="maildiv"><label class="gmail">Mail</label></div>
            <input class= "input-mail" type="text" id="gmail" name="email" required>
            </div>
            <div class="text">
                <div><label class="message">Message</label></div>
                <textarea  style="resize: none;" name="message" id="message" cols="30" rows="10" required></textarea>
            </div>
            <input class="submit"type="submit" class="send-message-cta" value="Send message">
        </form>
    </div>
</div>
{% endblock  %}