{% extends 'main/navbar.html' %} {% load static %}{% block content %}
<head>
  <link rel="stylesheet" href=" {% static '/css/addProducts.css' %} " />
</head>

<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <h1>Add Wanted</h1>
  <input type="text"
  name="name"
  placeholder="Product Name"
  id="nameinput"
  maxlength="30"
  required />

  <select name="category" onchange="sizes()" id="category">
    <option name="Shoes" value="Shoes">Shoes</option>
    <option name="Clothes" value="Clothes">Clothes</option>
    <option name="Accesories" value="Accesories">Accesories</option>
  </select>

  <select id="shoes" name="sizeS">
    {% for size in shoessize %}
    <option name="{{size}}" value="{{size}}">{{size}}</option>
    
    {% endfor %}
  </select>

  <select id="clothes" name="sizeC">
    {% for size in clothessize %}
    <option name="{{size}}" value="{{size}}">{{size}}</option>
    
    {% endfor %}
  </select>

  <input
    type="text"
    name="sizeA"
    id="accesories"
    maxlength="10"
    placeholder="Accesory Size"
  />

  <input
  type="number"
  name="price"
  step="0.01"
  placeholder="price in €"
  min="0.01"
  id="priceinput"
  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
  
  maxlength = "5"
  required
  />
  <select id="country" name="country">
    {% for country in eu %}
    <option name="{{country}}" value="{{country}}">{{country}}</option>
    {% endfor %}
  </select>
  <input   type="file"
  name="image"
  accept="image/*"
  onchange="loadFile(event)"
  required />
  <input type="color" name="color1" id="color1input" value="#FFFFFF" onchange="ChangeColor()" />
  <input type="color" name="color2" id="color2input" value="#000000" onchange="ChangeColor()"/>
  <button type="submit" name="create" value="create" class="btn btn-success">
    Create New
  </button>
</form>
<div class="row">
  <div class="kolonka-1" id="kolonka-1">
    <div class="small-box" id="gradient"></div>
    <h2><span id="nameoutput">Name</span></br>
      <span id="sizeoutput">Size</span></h2>
    <h4 id="priceoutput">1000 €</h4>
    <button class="add-to-cart" type="submit" id="gradient2" value="Contact" name="Contact">
      Contact
    </button>
  </div>
  <div class="kolonka-2">
    <img
      id="imgoutput"
      src="{% static '/images/blessedimg.jpeg' %}"
      alt="your image"
      class="shoe"
    />
    <div class="bg-box" id="gradient3"></div>
  </div>
</div>
<script src="{% static '/js/addProducts.js' %}"></script>
<script src="{% static '/js/reload.js' %}">
</script>
{% endblock %}
