{% extends 'main/navbar.html' %} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href=" {% static '/css/productLook.css' %} " />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  .add-to-cart,
  .bg-box,
  .add-to-cart,
  .small-box ,
  .condition ,
  .price ,
  hr{
    background: linear-gradient({{pd.color1}}, {{pd.color2}});
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient({{pd.color1}}, {{pd.color2}});
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient({{pd.color1}}, {{pd.color2}});
    border-radius: 10px;
  }
  
  @media (max-width: 991px) {
    .add-to-cart {
      background: white;
    }
  }

</style>

<div class="row">
  <div class="kolonka-1">
    <div class="small-box" id="gradient3"></div>
    <div>
      <h2>{{pd.name}}<h1>{{pd.size}}</h1></h2>
      <h4>{{pd.maxprice}} €</h4>
      <a href="/user-{{pd.user.id}}/wanted/"> 
        <button
          class="add-to-cart"
          type="submit"
          id="contact-btn"
          value="Contact"
          name="Contact"
          style="cursor: pointer;"
        >
          View Profile
        </button>
      </a>
    </div>
  </div>
  <div class="kolonka-2">
    <img class="shoe" src="{{pd.image.url}}" alt="image" />
    <div class="bg-box"></div>
  </div>
</div>
  
<div class="bottom-content">
 
  <div class="bottom-info">
    <h6>Info</h6>
    <div class="visuals-first">
      
      <p class="price-first">Price:{{pd.maxprice}} €</p>
      <p class="question-country">Country:{{pd.country}}</p>
    </div>
    <div class="contact-first">
      <div class="links-first">
          <a class="instagram-first" href="https://www.instagram.com/{{ig}}/">
            <div class="instagram-button">
              <p class="instagram-asking">Instagram:</p>
              <p class="ig-first"> @{{ig}}</p>
            </div>
          </a>
        <div class="mail-first">
          <div class="mail-button">
            <p class="mail-asking">Mail:</p>
            <p class="mail">{{pd.user.username}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row-1">
  <div class="kolonka-2-1">
    <img class="shoe-1" src="{{pd.image.url}}" alt="image" />
    <!-- <div class="bg-box"></div> -->
  </div>
</div>
<div class="name">
  <div class="small-box" id="gradient3"></div>
  <h1>{{pd.name}}<h2 style=>Size:{{pd.size}}</h2></h1>
  <div class="visuals">
    
    <p class="price">Price:{{pd.maxprice}} €</p>
  </div>
</div>
<div class="center">
  <div class="description-1" style="text-align: center">
    <hr class="for-sale">
    <h4>Wanted</h4>
    <div class="info">
      <p class="question">Country:<p>
      <p class="country">{{pd.country}}</p>
    </div>
    <!-- <div class="info">
      <p class="question">Condition:<p>
      <p class="country">{{pd.condition}}</p>
    </div> -->
    
  
    <hr class="contact-line">
    <div class="contact">
      <h6>Contact</h6>
      <div class="links">
        <div class="instagram">
          <p>Mail:</p>
          <p>{{pd.user.username}}</p>
        </div>  
        <a class="mail" href="https://www.instagram.com/{{ig}}/">
            <p>Instagram:</p>
            <p class="ig"> @{{ig}}</p>
          </a>
       
      </div>
    </div>
  </div>
</div>

<div class="buttons-1 wantedbtn">
  <a href="/user-{{pd.user.id}}/wanted/"> 
  
  <button
    class="add-to-cart"
    type="submit"
    id="profile-btn"
    value="profile"
    name="profile"
  >
    View Profile
  </button></a>
</div> 
<script src="{% static '/js/Look.js' %}"></script>
{% endblock %}