{% extends 'main/navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    
    <form method="post" action="">
        {% csrf_token %}
    <h1>Cart</h1>
    {% if number == 0 %}
    <p>your cart is empty</p>
    {% else %}
    
    {% for cart in user.cart.all %}
    
        {% for item in cart.cartitem_set.all %}
            <img class="image" src="{{item.image.url}}" alt="image" />
            <p>{{item.productid}}</p>
            <p>{{item.name}}</p>
            <p>{{item.size}}</p>
            <p>{{item.price}}</p>
            <button type="submit" value="{{item.id}}" name="delete">Remove</button>
        {% endfor %}
    {% endfor %}
    {% endif %}
    </form>
</body>
</html>
{% endblock %}
