{% extends 'main/navbar.html' %} {% load static %}{% block content %}
<head>
  <link rel="stylesheet" href=" {% static '/css/search.css' %} " />
</head>
<h1>Products:</h1>
<form method="get" action="{% url 'filters' %}">
    <input name="name" value="{{name}}" style="display: none;"></input>
  <select name="order_by" id="order_by" onchange="this.form.submit()">
    <option
      class="hidden_option"
      name="{{choice}}"
      value="{{choice}}"
      style="display: none"
    >
      {{choice}}
    </option>
    <option value="-id" name="-id">Latest products</option>
    <option value="id" name="id">Oldest products</option>
    <option value="price" name="price">Lowest Price</option>
    <option value="-price" name="price">Highest Price</option>
  </select>
</form>

<div class="container">
  <ul class="products">
    {% for product in object_list %} {% if product.active == True %}
    <li class="product">
      <a href="/{{product.id}}/">
        <img class="image" src="{{product.image.url}}" alt="image" />
        <p>Name: {{product.name}}</p>
        <!-- <p>Description: {{product.description}}</p> -->
        <p>Size: {{product.size}}</p>
        <!-- <p>Category: {{product.categories}}</p> -->
        <p>Price: {{product.price}}€</p>
        <!-- <p>id: {{product.id}}</p> -->
      </a>
    </li>
    {% endif %}{% endfor %} {% if object_list.count == 0 %}
    <p>nenasli sa produkty</p>
    {% endif %}
  </ul>
</div>
{% endblock %}
