{% extends 'main/navbar.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href=" {% static '/css/home.css' %} " />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<div class="second-navbar">
  <ul>
    <li><a href="/shoes/">Shoes</a></li>
    <li><a href="/clothes/">Clothes</a></li>
    <li><a href="/accesories/">Accesories </a></li>
  </ul>
</div>

<div class="info">
  <h2>Latest products</h2>
  <a href="/products/">See All</a>
</div>
<div class="container">
  <ul class="products">
    {% for product in ls %} {% if product.active == True %}
    <li class="product">
      <a href="/{{product.id}}/">
        <img class="image" src="{{product.image.url}}" alt="image" />
        <div class="desc">
          <p>Name: {{product.name}}</p>
          <!-- <p>Description: {{product.description}}</p> -->
          <p>Size: {{product.size}}</p>
          <!-- <p>Category: {{product.categories}}</p> -->
          <p>Price: {{product.price}}$</p>
          <!-- <p>id: {{product.id}}</p> -->
        </div>
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>

<form action="/search/" class="brands" method="get">
  <button type="submit" name="brand" value="Nike" class="brand">
    <img src="/static/images/nike-logo.png" class="nike" />
  </button>
  <button type="submit" name="brand" value="Jordan" class="brand">
    <img src="/static/images/jumpman-logo.png" class="jordan" />
  </button>
  <button type="submit" name="brand" value="Supreme" class="brand">
    <img src="/static/images/supreme.png" class="supreme" />
  </button>
  <button type="submit" name="brand" value="The North Face" class="brand">
    <img src="/static/images/the-north-face.png" class="off-white" />
  </button>
  <button type="submit" name="brand" value="Yeezy" class="brand">
    <img src="/static/images/Yeezy-Logo.png" class="yeezy" />
  </button>
</form>

<div class="info">
  <h3>"Wanted"</h3>
  <a href="/wanted/">See All</a>
</div>
<div class="container">
  <ul class="products">
    {% for product in wd %} {% if product.active == True %}
    <li class="product">
      <a href="/w{{product.id}}/">
        <img class="image" src="{{product.image.url}}" alt="image" />
        <div class="desc">
          <p>Wanted</p>
          <p>Name: {{product.name}}</p>
          <!-- <p>Description: {{product.description}}</p> -->
          <p>Size: {{product.size}}</p>

          <p>Max Price: {{product.maxprice}}$</p>
          <!-- <p>id: {{product.id}}</p> -->
        </div>
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>
{% endblock %}
