{% load static%}
<head>
  <link rel="stylesheet" href=" {% static '/css/navbar.css' %} " />
</head>
<div class="container">
  <div class="navbar">
    <img src="/static/images/header_logo.png" href="scotts.html" class="logo">
    <form id="form" class="search"> 
      <input class="search-field" type="search" id="query" name="q">
    </form>
    <button class="search-button">Search</button>
    <nav>
        <ul>
            <li><a href="">Jordan</a></li>
            <li><a href="dunks.html">Dunks</a></li>
            <li><a href="yeezy.html">Yeezy 350</a ></li>
            <button class="log-out">Log Out</button>
        </ul>
    </nav>
  </div>
</div>
<br />
{% block content %} {% endblock %}
