{% extends 'main/navbar.html' %} {% load static %}{% block content %}
<head>
  <!-- <link rel="stylesheet" href=" {% static '/css/addProducts.css' %} " /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <meta
    name="description"
    property="og:description"
    content="Blessed is website for selling or buying hype shoes, clothes and accesories"
  />
  <meta property="og:title" content="Succesful adding - Blessed" />
  <title>Succesful adding - Blessed</title>
  <meta name="author" content="Jerguš Sňahničan, Alexander Poole" />
  <meta
    name="keywords"
    content="Blessed, blessed, resell,market, hypebeast,shoes,clothes,accesories"
  />
</head><div class="center"><h1>Succes</h1></div> 
your product: {{product}} was added
<a href="/">Go Home </a>
<a href="/add/">Sell another products</a>


{% endblock %}
